<%= form_with(model: registration_course, local: true) do |form| %>
  <% if registration_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(registration_course.errors.count, "error") %> prohibited this registration_course from being saved:</h2>

      <ul>
      <% registration_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :course_offering_id %>
    <%= form.text_field :course_offering_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
